.chip-bar {
    display: flex;
    justify-content: space-evenly;
}

.chip {
    padding: 4px 16px;
    border-radius: 999px;
    background-color: #404040;
    cursor: pointer;
    transition: box-shadow 0.2s, border 0.2s, color 0.2s;
    border: 2px solid #404040;
}

.chip.selected {
    box-shadow: 0 0 8px #D57DFF;
    border: 2px solid #D57DFF;
}