.history-table {
    border-collapse: collapse;
    width: 100%;
}

.history-thead {

}

.history-th {
    background-color: #9889FF;
    color: #303030;
    padding: 8px 16px;
}

.flow-event {
    background-color: #7DFFC0;
}

.flow-td {
    background-color: #7DFFC028;
}

.grade-event {
    background-color: #7DB1FF;
}

.grade-td {
    background-color: #7DB1FF28;
}

.history-tbody {

}

.history-tbody-r:nth-child(even) {
    background-color: #404040;
}

.history-td {
    color: #f0f0f0;
    text-align: center;
    padding: 8px;
}