.history {
    overflow: scroll;
}

.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.history-link {
    color: #9889FF;
    text-decoration: none;
    padding-bottom: 4px;
    border-bottom: 1px solid #9889FF;
    transition: color 0.2s, border-bottom 0.2s;
}

.history-link:hover {
    color: #D57DFF;
    border-bottom: 1px solid #D57DFF;
}