.nav {
    width: 100vw;
    box-sizing: border-box;
    padding: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.5);
    z-index: 2;
    background-color:#303030;
}

.nav-brand {
    flex: 1;
    display: flex;
    justify-content: center;
}

.nav-logo {
    width: 48px;
    margin-right: 16px;
    transition: transform 0.75s;
}

.nav-button {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-brand:hover .nav-logo {
    transform: rotateZ(-540deg);
}

.nav-button-text {
    text-decoration: none;
}