.sidebar {
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #282828;
    position: absolute;
    height: calc(100vh - 72px);
    transition: width 0.2s;
}