.checkout{
    min-height: calc(100vh - 72px);
    width: 100%;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkout-card {
    width: 500px;
    animation: fade-up-in 1s;
    margin: 32px 0;
}

.checkout-address-card {
    height: 200px;
    width: fit-content;
    margin: 24px auto 32px;
    background: linear-gradient(45deg, #D57DFF, #7DB1FF);
    border-radius: 4px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.checkout-blockie {
    border: 4px solid #00000000;
    box-shadow: 
        2px 2px 2px rgba(0,0,0,0.2),
        -2px -2px 2px rgba(255,255,255,0.2);
    margin: 8px;
}

.checkout-address-card-content {
    text-align: right;
    background-color: #4D4580;
    border-radius: 0 0 4px 4px;
    padding: 8px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.checkout-subheader {
    margin: 8px 0;
}

.checkout-address-details {
    padding: 8px 0;
}

.checkout-address-input {
    width: calc(100% - 20px);
}

.checkout-rate {
    background-color: #383838;
    border-radius: 4px;
    padding: 8px;
    margin: 16px 0;
}

.checkout-rate-group {
    display: flex;
    align-items: center;
}

.checkout-rate-label {
    margin-left: 8px;
}

.checkout-input {
    text-align: right;
}

.checkout-conversions {
    border: 1px solid #888;
    border-radius: 4px;
    margin: 8px 0;
    padding: 8px;
    line-height: 1.8em;
}

.checkout-conversion-label {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted #888;
    padding: 8px;
}

@keyframes fade-up-in {
    0% {
        transform: translateY(12px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}