.main {
    flex: 1;
    position: relative;
}

.main.auth {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.auth-card {
    background: #303030cc;
    color: #fff;
    z-index: 1;
    backdrop-filter: blur(2px);
    animation: fade-in 1s;
    min-width: 350px;
}

.auth-p {
    margin-bottom: 16px;
}

.connect-wallet {
    padding-bottom: 16px;
}

.main-section {
    box-sizing: border-box;
    padding: 16px 0;
}

.main-section.top {
    height: fit-content;
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.main-section.bottom {
    
}

.main-card {
    min-width: 500px;
    min-height: 300px;
    box-sizing: border-box;
    margin: 0 16px;
    animation: fade-up-in 1s ease-in;
}

.animate {
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.supported-wallet {
    border: 1px solid #606060;
    border-radius: 4px;
    padding: 16px 8px;
    transition: border 0.5s, box-shadow 0.5s;
    margin-top: 16px;
}

.supported-wallet-h2 {
    transition: color 0.2s;
}

.supported-wallet:hover {
    border: 1px solid #7DB1FF;
    box-shadow: 
        0 0 2px #7DB1FF,
        inset 0 0 2px #7DB1FF;
}

.supported-wallet:hover .supported-wallet-h2 {
    color: #7DB1FF;
}

@keyframes fade-up-in {
    0% {
        transform: translateY(12px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@media (max-width: 532px) {
    .main-card {
        min-width: 268px;
    }
}