.main {
    flex: 1;
    position: relative;
}

.main-section {
    box-sizing: border-box;
}

.main-section.top {
    height: fit-content;
    min-height: 50vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.main-card {
    flex: 1;
    min-width: 500px;
    min-height: 300px;
    box-sizing: border-box;
    margin: 16px;
    animation: fade-up-in 1s ease-in;
}

#flows-card {
    max-height: 300px;
    overflow: scroll;
}

@keyframes fade-up-in {
    0% {
        transform: translateY(12px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes fade-in {
    0% {
        transform: scale(0.5, 0.5);
        opacity: 0;
    }
    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}

@media (max-width: 532px) {
    .main-card {
        min-width: 268px;
    }
}